{% extends "home-page.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main id="main" class="area-padding">
    <section class="area-padding">
        <div class="row wow fadeIn">
            <div class="col-6 offset-3">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ crispy|form }}
                    <button class="btn-dark" type="submit" name="action">{% trans "Change Password" %}</button>
                    <a class="btn-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
